.pokemonSearch {
  margin-bottom: 10px;
  width:25%;
}

.pokemonList {
  cursor: pointer;
  max-height: 500px;
  overflow-x: hidden;
}
.pokemonList li:hover {
  background-color: lightgray;
}

.pokemonInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.routeChange-enter {
  left: 100%;
  opacity: 0;
}
.routeChange-enter.routeChange-enter-active {
  left: 0;
  opacity: 1;
  transition: all 600ms ease;
}
.routeChange-leave {
  left: 0;
  opacity: 1;
}
.routeChange-leave.routeChange-leave-active {
  left: -100%;
  opacity: 0;
  transition: all 600ms ease;
}

.reverseRouteChange-enter {
  opacity: 0;
  left: -100%;
}
.reverseRouteChange-enter.reverseRouteChange-enter-active {
  opacity: 1;
  left: 0;
  transition: all 600ms ease;
}
.reverseRouteChange-leave {
  left: 0;
  opacity: 1;
}
.reverseRouteChange-leave.reverseRouteChange-leave-active {
  opacity: 0;
  left: 100%;
  transition: all 600ms ease;
}

.pokedex {
  overflow: hidden;
}

.listColumn {
  background: white;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  overflow: hidden;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}
